{% extends 'base.html.twig' %}

{% block title %}Alta Paciente{% endblock %}

{% block body %}

<h1>Paciente introducido correctamente!</h1> 

<a href="{{ path('app_aplicacion') }}" class="btn btn-primary">Volver al Menú</a>
{% endblock %}